/backend/nbproject/private/
/backend/dist/
/backend/build/
/GUIyacht/build/
/GUIyacht/dist/
/GUIyacht/nbproject/private/
backend/nbproject/private/private.properties
*.properties
GUIyacht/nbproject/private/private.xml
GUIyacht/dist/lib/backend.jar
*.class
*.xml
*.jar
